<!DOCTYPE html>
<html>
    <head>
        <title>Simple Streaming Dashboard</title>
        <!-- Load external libraries -->
        <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
        <!-- Load our modules -->
        <script src="{{ url_for('static', path='js/chart.js') }}"></script>
        <script src="{{ url_for('static', path='js/stream.js') }}"></script>
    </head>
    <body>
        <div id="vis"></div>
    </body>
</html>